


# Ignore .tif Files
*.tif

# Ignore Pycache
__pycache__/
*.pyc

# Ignore .ipynb_checkpoints
.ipynb_checkpoints/

# Ignore Results folder
results/

# Ignore test_train.py
test_train.py

# Ignore tools.tools
tools.tools

